<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% data.forEach(element=> { %>

        <div style="border: solid 2px;">
            <p>
                <%= element.id %>.  by <%= element.artist %>
            </p>
            <p>
                <%= element.title %>
            </p>
        </div>
    
    <% }); %>


    </body>
</html>