/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Noto Sans Thai', sans-serif; */
    font-family: 'Prompt', sans-serif;

}

/* main & body //////////////////////////////////////////////////// */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    margin: 0px;
    background-color: #86c2b43b;

    display: flex;
    flex-direction: column;

}


/* div ///////////////////////////////////////// */
div {
    /* margin-top: 20px; */
    /* text-align: center; */
    border-radius: 10px;
}

/* h ///////////////////////////////////////////////////// */
h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

/* button ///////////////////////////////////////// */
button {
    padding: 12px 20px;
    color: white;
    background-color: #c48fc2;
    border-radius: 5px;
    margin: 10px;
    border: none;

    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}



/* nav ////////////////////////////////////// */
.nav ul {
    list-style-type: none;
    background-color: #49c5a8;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

}

.nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 20px;
}

.nav a:hover {
    /* opacity: 0.5;/ */
    background-color: #256959;
}

.nav li {
    float: left;
}


/** link /////////////////////////////////// */

.hidden-link {
    color: black;
    text-decoration: none;
}

.hidden-link:hover {
    color: #c48fc2;
    text-decoration: none;
}

.link-cgm48-color {
    color: #379780;
}

.link-cgm48-color:hover {
    opacity: 0.5;
}

/** about.html ////////////////////////////////// */

.eatfoodwithmercy-account {
    max-width: 60%;
    /* width: 1px;
    height: 1px; */
    margin: 10px;
}

/** index.html /////////////////////////////////////*/

.recommended-menu {
    background-color: rgba(255, 255, 255, 0.746);

    width: 37vh;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.recommended-menu p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.recommended-menu img {
    height: 50%;
    border-radius: 3px;
    margin-top: 13%;
}

.flex-everything-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-container {
    height: 550px;
    align-items: flex-start;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.746);
}