/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Noto Sans Thai', sans-serif; */
    font-family: 'Prompt', sans-serif;

}

body {
    margin: 0px;
    /* display: flex; */
    /* flex-direction: column; */
}

/* main {
    margin: 30px;
    border-radius: 10px;

} */

/* ///////////////////////////////////////// */
div {
    /* margin-top: 20px; */
    /* text-align: center; */
    border-radius: 10px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}
/* ///////////////////////////////////////// */
button {
    padding: 12px 20px;
    color: white;
    background-color: #c48fc2;
    border-radius: 5px;
    margin: 10px;
    border: none;

    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}



/* ///////////////////////////////////////// */
.nav ul {
    list-style-type: none;
    background-color: #49c5a8;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 20px;
}

.nav a:hover {
    /* opacity: 0.5;/ */
    background-color: #256959;
}

.nav li {
    float: left;
}

.eatfoodwithmercy-account {
    max-width: 60%;
    /* width: 1px;
    height: 1px; */
    margin: 10px;
}

.hidden-link {
    color: black;
    text-decoration: none;
}

.hidden-link:hover {
    color: #c48fc2;
    text-decoration: none;
}

.link-cgm48-color {
    color: #379780;
}

.link-cgm48-color:hover {
    opacity: 0.5;
}